

$flaticon-icons: (
	video-camera: "\f100",
	like-1: "\f101",
	bookmark: "\f102",
	calculator: "\f103",
	pie-chart: "\f104",
	password: "\f105",
	bag: "\f106",
	sand-clock: "\f107",
	ring: "\f108",
	user: "\f109",
	compass: "\f10a",
	settings: "\f10b",
	mixer: "\f10c",
	idea: "\f10d",
	help: "\f10e",
	shuffle: "\f10f",
	panel: "\f110",
	image: "\f111",
	megaphone: "\f112",
	home: "\f113",
	upload: "\f114",
	newspaper: "\f115",
	folder: "\f116",
	map: "\f117",
	chrome: "\f118",
	shield: "\f119",
	search: "\f11a",
	speaker: "\f11b",
	link: "\f11c",
	tag: "\f11d",
	coin: "\f11e",
	calendar: "\f11f",
	headphones: "\f120",
	camera: "\f121",
	battery: "\f122",
	mailbox: "\f123",
	watch: "\f124",
	print: "\f125",
	menu: "\f126",
	diamond: "\f127",
	garbage: "\f128",
	padlock: "\f129",
	eye: "\f12a",
	phone-call: "\f12b",
	point: "\f12c",
	like: "\f12d",
	box: "\f12e",
	location: "\f12f",
	microphone: "\f130",
	smartphone: "\f131",
) !default;
