
@import "../functions";
@import "hover";


// TODO: Add button-outline-theme
@mixin button-theme($theme: map-get($button-themes, $theme-default)) {

	$color: map-get($theme, color);

	background-color: $color;
	color: color-contrast($color);
	border-color: darken($color, 5%);

	@include not-disabled {

		@include hover {
			background-color: darken($color, 10%);
			border-color: darken($color, 15%);
		}

		@include active {
			background-color: darken($color, 20%);
			border-color: darken($color, 25%);
		}

		@include focus {
			box-shadow: 0 0 0 3px rgba($color, .5);
		}

	}

}

@mixin button-outline-theme($theme: map-get($button-themes, $theme-default)) {

	$color: map-get($theme, color);
	$text-color: color-contrast($color);

	background-color: transparent;
	color: $color;
	border-color: $color;

	@include not-disabled {

		@include hover {
			background-color: darken($color, 10%);
			color: $text-color;
			border-color: darken($color, 15%);
		}

		@include active {
			background-color: darken($color, 20%);
			color: $text-color;
			border-color: darken($color, 25%);
		}

		@include focus {
			box-shadow: 0 0 0 3px rgba($color, .5);
		}

	}

}

@mixin button-size($size: map-get($button-sizes, $size-default)) {

	$padding:		map-get($size, padding);
	$font-size: 	map-option($size, font-size, $font-size-base);
	$border-radius:	map-option($size, border-radius, $border-radius-base);

	padding: $padding;
	font-size: $font-size;
	border-radius: $border-radius;

}
