

/*
 * Layout
 * ------------------------------------------------
 */
$gutter: 		15px !default;
$gutter-col: 	$gutter / 2 !default;
$columns: 		12 !default;

$box-bg: #aaa !default;

//$border-radius-base:	5px !default;
//$border-radius-sm: 		4px !default;
//$border-radius-xs: 		3px !default;


/*
 * Header
 * ------------------------------------------------
 */
$header-bg: 				$black !default;
$header-color: 				$white !default;
$header-height: 			60px !default;
$header-padding-horizontal: $gutter !default;
