
@import "fonts";


$fonticons: (
	flaticon: (
		family: "Flaticon",
		icons: (
			video-camera: "\f100"
		)
	),
	font-awesome: (
		family: "FontAwesome",
		icons: (
			500px: "\f26e",
			address-book: "\f2b9"
		)
	)
) !default;

$fonticons-family-default: "flaticon" !default;
